DATABASE_URL=
JWT_SECRET_KEY=
AppName='Storyboard'
 ClientURl=
 Brevo_GMAIL=
REDIS_HOST=
REDIS_PASSWORD=
REDIS_USERNAME=default # Include only if Layerbase specifies a username
acExpire=3600 # 1 minute
rfExpire=259200 # 3days
veriExpire=300 # 5 minute
NODE_ENV=development
BREVO_API_KEY=