DATABASE_URL=
JWT_SECRET_KEY=
FROM_EMAIL_FOR_RESEND ="Acme <onboarding@resend.dev>"
AppName='Storyboard'
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
Nodemailer_GMAIL=
Nodemailer_GMAIL_PASSWORD=
RedisURL=redis://127.0.0.1:6379
ClientURl=
acExpire=3600 # 1 minute
rfExpire=259200 # 3days
veriExpire=300 # 5 minute
NODE_ENV=development
RESEND_API_KEY=
BREVO_API_KEY=